body {
    margin: 0;
    font-family: Arial;
    background-color: #f4f4f4;
    scroll-behavior: smooth;
}

nav {
    background-color: black;
    color: white;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0,0.5);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav ul li:hover {
    color: yellow;
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: yellow;
}

.hero {
    text-align: center;
    padding: 80px 20px;
    background-color: white;
}

.hero h2 {
    font-size: 40px;
}

.hero p {
    font-size: 18px;
    color: gray;
}

.hero button {
    padding: 12px 25px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 8px;

    transition: 0.3s;
}

.hero button:hover {
    background-color: gray;
    transform: scale(1.1);
    /* transition: 0.3s; */

}

.about {
    padding: 40px;
    text-align: center;
}

.skills {
    padding: 20px;
    text-align: center;
}

.skill {
    margin: 20px auto;
    width: 300px;
    text-align: left;
}

.progress {
    background-color: #ddd;
    border-radius: 20px;
    overflow: hidden;
}

.progress-bar {
    height: 20px;
    background-color: black;
    border-radius: 20px;

    animation: grow 2s;
}

.html {
    width: 120px;
}

.css {
    width: 90px;
}

.javascript {
    width: 100px;
}

.python {
    width: 150px;
}

.github {
    width: 70px;
}

@keyframes grow {
    from {
        width: 0;
    }
}
.hero img {
    border-radius:50%;
    margin-top: 20px;
}

.projects {
    padding: 40px;
    text-align: center;
}

.project-card {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
}

.project-card:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.project-card button {
    padding: 10px 20px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 8px;
    cursor: pointer;

    transition: 0.3s;
}

.project-card button:hover {
    transform: scale(1.1);
    background-color: gray;
}

.contact {
    padding: 40px;
    text-align: center;
    background-color: black;
    color: white;
}

.contact button {
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.contact button:hover {
    transform: scale(1.1);

    box-shadow: 0 6px 15px rgba(0,0,0,0.5);
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: 18px;
    transition: 0.3s;
}

.social-links a:hover {
    color: yellow;
}

footer {
    background-color: #111;
    color: white;

    text-align: center;
    padding: 20px;
}   

footer p:hover {
    color: yellow;  
    transition: 0.3s;
}

.fade-in {
    opacity: 0;

    transform: translateY(40px);

    animation: fadeIn 1.2 ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}