body {
    margin: 0;
    font-family: Arial;
    background-color: #f4f4f4;
    scroll-behavior: smooth;
}

nav {
    background-color: black;
    color: white;
    padding: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav ul li:hover {
    color: yellow;
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: yellow;
}

.hero {
    text-align: center;
    padding: 80px 20px;
    background-color: white;
}

.hero h2 {
    font-size: 40px;
}

.hero p {
    font-size: 18px;
    color: gray;
}

.hero button {
    padding: 10px 20px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

.about {
    padding: 40px;
    text-align: center;
}

.skills {
    padding: 40px;
    text-align: center;
}

.skill-box {
    display: inline-block;
    background-color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
}

.skill-box:hover {
    background-color: black;
    color: white;
    transition: 0.3s;
}

.hero button:hover {
    background-color: gray;
}

.hero img {
    border-radius:50%;
    margin-top: 20px;
}

.projects {
    padding: 40px;
    text-align: center;
}

.project-card {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
}

.project-card:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.contact {
    padding: 40px;
    text-align: center;
    background-color: black;
    color: white;
}

.contact button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}


